@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--black: #000000;
	--off-white: #f7f7f7;
	--grey: #888888;
	--border-grey: #e6e6e6;
	--blue: #001122;
	--footer-black: #222222;
	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	background: var(--background);
}

.max-width {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

button {
	padding: 10px 25px;
	font-weight: 400;
	background: transparent;
	outline: none !important;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	border-radius: 8px;
}

button {
	border: 2px solid rgb(255, 255, 255);
	z-index: 1;
	color: white;
}

button:after {
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: rtl;
	z-index: -1;
	background: var(--white);
	transition: all 0.3s ease;
}

button:hover {
	color: rgb(0, 0, 0);
}

button:hover:after {
	left: auto;
	right: 0;
	width: 100%;
}

button:active {
	top: 2px;
}

button.difference {
	border: 2px solid var(--black);
	color: var(--black);
}

button.difference:after {
	background: var(--black);
}

button.difference:hover {
	color: var(--white);
}

.MuiAccordion-root:last-of-type {
	border-radius: 0px !important;
	box-shadow: none !important;
}

.MuiAccordionSummary-root {
	flex-direction: row-reverse !important;
	padding: 0 !important;
}

.MuiAccordionSummary-root > .MuiAccordionSummary-expandIconWrapper {
	margin-right: 24px !important;
}
