@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	overflow: hidden;
}
